mixin metrics(id, title, lists)
    h2!=title

    div.row
        div.col-lg-12
            h3 Flow Metrics

    div.row
        div.col-lg-12
            h3 List Metrics

        each list, listId in lists
            if !list.closed
                div.col-lg-4
                    h4
                    div(id="histogram-" + id + '-' + listId)
                    script(type="text/javascript").
                        var data = [{
                            nbinsx: 10,
                            x: !{JSON.stringify(list.times.values)},
                            type: 'histogram'
                          }
                        ];
                        var layout = {
                            title: '#{list.name}',
                            xaxis: { title: 'Hours' },
                            yaxis: { title: 'Number of Items' },
                            barmode: 'overlay',
                            bargap: 0.05,
                            bargroupgap: 0.3
                        };
                        Plotly.newPlot('histogram-#{id}-#{listId}', data, layout);
                    table.table.table-striped
                        thead
                            tr
                                th Count
                                th Mean
                                th Median
                                th Min
                                th Max
                        tbody
                            tr
                                td!=(list.times.count || 0).toFixed(0) + ' items'
                                td!=(list.times.mean || 0).toFixed(2) + ' hours'
                                td!=(list.times.median || 0).toFixed(2) + ' hours'
                                td!=(list.times.min || 0).toFixed(2) + ' hours'
                                td!=(list.times.max || 0).toFixed(2) + ' hours'



doctype html
html(lang="en")
    head
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8")
        script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
        script(type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js")
        script(type="text/javascript").
            jQuery(document).ready(function ($) {
                $('ul.nav-tabs').each(function() {
                    $(this).tab('show');
                    $('a:first', $(this)).click();
                });
            });

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")

        title!=title

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.container-fluid
            div.row
                div.main.col-lg-12
                    h1 Trello Analytics
                    ul.nav.nav-tabs(role="tablist")
                        li(role="presentation" class="active"): a(href="#global" aria-controls="global" role="tab" data-toggle="tab") Globals
                        each element, index in data.labelFiltered
                            li(role="presentation" class="active")
                                a(href="#filtered-"+index aria-controls="filtered-!=index" role="tab" data-toggle="tab")!=element.name
                    div.tab-content
                        div#global.tab-pane.active(role="tabpanel") 
                            +metrics('global', 'Global', data.global.lists)

                        each element, index in data.labelFiltered
                            div.tab-pane(id="filtered-"+index role="tabpanel")
                                +metrics(index, element.name, data.labelFiltered[index].lists)

