mixin histogram(id, title, data)
    div(id="histogram-" + id)
    script(type="text/javascript").
        var data = [{
            nbinsx: 10,
            x: !{JSON.stringify(data)},
            type: 'histogram'
        }];
        var layout = {
            title: '#{title}',
            xaxis: { title: 'Hours' },
            yaxis: { title: 'Number of Items' },
            barmode: 'overlay',
            bargap: 0.05,
            bargroupgap: 0.3
        };
        Plotly.newPlot('histogram-#{id}', data, layout);

mixin card-table(cards, lists, labels)
    div.row
        div.col-md-12
            h3 Flow Items
            table.table.table-striped.table-condensed.card-table
                thead
                    tr
                        th Name
                        th Labels
                        th Reaction (h)
                        th Cycle (h)
                        th Lead (h)
                        each list in lists
                            th(title=list.name + ' (h)')
                                span.ellipsis!=list.name + ' (h)'
                tbody
                    each card in cards
                        tr
                            td!=card.name
                            td
                                each idLabel in card.idLabels
                                    span.label(class=labels[idLabel].color)!=labels[idLabel].name
                                    &nbsp;
                            td(title="Reaction Time (h)")!=(card.flow.reaction || 0).toFixed(2)
                            td(title="Cycle Time (h)")!=(card.flow.cycle || 0).toFixed(2)
                            td(title="Lead Time (h)")!=(card.flow.lead || 0).toFixed(2)
                            each list, id in lists
                                td(title=list.name)!=(card.times[id] || 0).toFixed(2)

mixin list-time-table(times)
    table.table.table-striped
        thead
            tr
                th Count
                th Mean
                th Median
                if times.min != undefined
                    th Min
                if times.max != undefined
                    th Max
        tbody
            tr
                td!=(times.count || 0).toFixed(0) + ' items'
                td!=(times.mean || 0).toFixed(2) + ' hours'
                td!=(times.median || 0).toFixed(2) + ' hours'
                if times.min != undefined
                    td!=(times.min || 0).toFixed(2) + ' hours'
                if times.max != undefined
                    td!=(times.max || 0).toFixed(2) + ' hours'

mixin metrics(id, title, data, labels)
    div.row
        div.col-md-12
            if labels
                br
                h2
                    each label, index in labels
                        span.label(class=label.color)!=label.name
                        &nbsp;
            else
                h2!=title
    if data.flow
        div.row
            div.col-md-12
                h3 Flow Metrics
        div.row
            div.col-md-4
                +histogram(id + '-reaction', 'Reaction Time', data.flow.reaction.values)
                +list-time-table(data.flow.reaction)
            div.col-md-4
                +histogram(id + '-cycle', 'Cycle Time', data.flow.cycle.values)
                +list-time-table(data.flow.cycle)
            div.col-md-4
                +histogram(id + '-lead', 'Lead Time', data.flow.lead.values)
                +list-time-table(data.flow.lead)

    div.row
        div.col-md-12
            h3 List Metrics
    div.row
        each list, listId in data.lists
            if !list.closed
                div.col-md-4
                    +histogram(id + '-' + listId, list.name, list.times.values)
                    +list-time-table(list.times)
doctype html
html(lang="en")
    head
        meta(charset="utf-8")

        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(type="text/javascript" src="//d3js.org/d3.v3.min.js" charset="utf-8")
        script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous")
        script(type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js")
        script(type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js")
        script(type="text/javascript").
            jQuery(document).ready(function ($) {
                $('ul.nav-tabs').each(function() {
                    $(this).tab('show');
                    $('a:first', $(this)).click();
                });
                $('.card-table').DataTable({ paging: false, searching: false });
            });

        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" crossorigin="anonymous")
        style(type="text/css").
            .green { background-color: #519839; color: white; }
            .yellow { background-color: #f2d600; color: white; }
            .orange { background-color: #ffab4a; color: white; }
            .red { background-color: #eb5a46; color: white; }
            .purple { background-color: #89609e; color: white; }
            .blue { background-color: #0079bf; color: white; }
            .sky { background-color: #00c2e0; color: white; }
            .pink { background-color: #cd5a91; color: white; }
            .lime { background-color: #51e898; color: white; }
            .black { background-color: ##4d4d4d; color: white; }
            .ellipsis {
                text-overflow: ellipsis;
                width: 80px;
                overflow: hidden;
                white-space: nowrap;
                display: block;
            }

        title!=title

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        div.container-fluid
            div.row
                div.main.col-md-12
                    h1 Trello Analytics
                    ul.nav.nav-tabs(role="tablist")
                        li(role="presentation" class="active"): a(href="#global" aria-controls="global" role="tab" data-toggle="tab") Global
                        each element, index in data.labelFiltered
                            li(role="presentation" class="active")
                                a(href="#filtered-"+index.replace(',', '-') aria-controls="filtered-#{index.replace(',', '-')}" role="tab" data-toggle="tab")!=element.name
                    div.tab-content
                        div#global.tab-pane.active(role="tabpanel")
                            +metrics('global', 'Global', data.global)
                            +card-table(data.global.cards, data.global.lists, data.labels)

                        each element, index in data.labelFiltered
                            div.tab-pane(id="filtered-"+index.replace(',', '-') role="tabpanel")
                                +metrics(index, element.name, data.labelFiltered[index], data.labelFiltered[index].labels)
                                +card-table(data.labelFiltered[index].cards, data.labelFiltered[index].lists, data.labels)

